<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Load property file -->
	<context:property-placeholder
		location="classpath:sport.properties" />

	<!-- another beans id for injecting value from a property file -->
	<bean id="anotherCricketCoach"
		class="com.luv2code.springdemo.CricketCoach">
		<!-- set up injection -->
		<property name="fortuneService" ref="myFortunesv" />

		<!-- injection literal value -->
		<property name="emailAdress" value="${foo.email}" />
		<property name="Team" value="${foo.team}" />
	</bean>

	<!-- Define your beans here -->
	<bean id="myCoach" class="com.luv2code.springdemo.TrackCoach">
		<!-- constructor injection -->
		<constructor-arg ref="myFortunesv" />
		<!-- set up injection -->
		<property name="fortuneService" ref="myFortunesv" />
	</bean>
	<!-- create a class to inject dependency -->
	<bean id="myFortunesv"
		class="com.luv2code.springdemo.HappyFortuneService">
	</bean>


	<!-- another beans id for Setter injection and Injecting literal value -->
	<bean id="newCricketCoach"
		class="com.luv2code.springdemo.CricketCoach">
		<!-- set up injection -->
		<property name="fortuneService" ref="myFortunesv" />

		<!-- injection literal value -->
		<property name="emailAdress" value="kevdin9530@gmail.com" />
		<property name="Team" value="Team Halland" />
	</bean>

	<!-- Beans to show more extra log in console -->
	<bean id="myLoggerConfig"
		class="com.luv2code.springdemo.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>

	<!-- create new beans for practice -->
	<bean id="practiceFortuneService"
		class="com.luv2code.springdemo.RandomFortuneService">
	</bean>

	<bean id="practiceCoach"
		class="com.luv2code.springdemo.BaseballCoach">
		<constructor-arg ref="practiceFortuneService"></constructor-arg>
	</bean>
</beans>



